<h2>マイページ</h2>
<br><br>

<h3>登録情報</h3>
<br>

<table border="1">

<tr>
  <td>氏名</td>
  <td>customer.sunname  customer.name</td>
</tr>

<tr>
  <td>カナ</td>
  <td>customer.sunname_kana  customer.name_kana</td>
</tr>

<tr>
  <td>郵便番号</td>
  <td>customer.postal_code</td>
</tr>

<tr>
  <td>住所</td>
  <td>customer.address</td>
</tr>

<tr>
  <td>電話番号</td>
  <td>customer.telephone_number</td>
</tr>

<tr>
  <td>メールアドレス</td>
  <td>customer.email</td>
</tr>
</table>


<br><br>



