<main>
<div class="container">
<div class="row">
<div class="col-lg-4">
  <h2>商品一覧</h2>
    <%= link_to "商品新規登録", 'items/new' %>
  <table class = "table">
    <thead>
      <tr>
        <th scope="col">商品ID</th>
        <th scope="col">商品名</th>
        <th scope="col">税抜き価格</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @items.each do |item| %>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</main>