<br>
<h2>会員一覧</h2>

<table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr class="info">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td class="info col-xs-1">
              <%= customer.id %>
            </td>
            <td class="text-left">
              <%= link_to customer.sunname,"admin_customers_path(customer)" %><%= link_to customer.name, "" %>
            </td>
            <td class="text-left">
              <%= customer.email %>
            </td>
        <% end %>

            <td class="text-left">
            <% if @customers.is_deleted == true %>
            <span>　<i class="text-success"></i>退会済
            <% else @customers.is_deleted == false %>
            　　　　<i class="fas fa-bullseye red"></i>有効</span>
            <% end %>
            </td>
          </tr>
      </tbody>
    </table>
