<h1>admin/homes/top</h1>

<h2>注文履歴一覧</h2>
<thead>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </tr>
</thead>
<tbody>
  <tr>
  <% @orders.each do |order| %>
    <td><%= order.created_at %></td>
    <td><%= order.name %></td>
    <td><%= order.amount %></td>
    <td><%= order.making_status %></td>
  <% end %>
  </tr>
</tbody>